* {
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 30px;
}

/* FULL */
@media screen (min-width: 992px) {
    
}

/* MID */
@media screen (min-width: 768px) and (max-width: 991px) {
    
}

/* SMALL */
@media screen (max-width: 767px) {
    
}