* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
    font-size: 1.75em;
    text-align: center;
    padding: 30px;
}

h2 {
    font-size: 1.25em;
    text-align: center;
    width: 33.333%;
    margin: 0 0 20px 0;
    float: right;
}

p {
    clear: both;
    margin: 20px;
}

.Chicken h2 {
    background-color: pink;
    color: black;
}
.Beef h2 {
    background-color: darkred;
    color: white;
}
.Sushi h2 {
    background-color: burlywood;
    color: black;
}

div {
    width: 33.333%;
    padding: 0 20px 0 20px;
    float: left;
    margin: 10px 0 10px 0;
}

section {
    background-color: darkseagreen;
    border: 1px solid black;
}

/* FULL */
@media (min-width: 992px) {
    
}

/* MID */
@media (min-width: 768px) and (max-width: 991px) {
    div {
        width: 50%;
    }
    div.Sushi {
        width: 100%;
    }
}

/* SMALL */
@media (max-width: 767px) {
    div {
        width: 100%;
    }
}