nav#header-nav {
    background-color: darkred;
    color: white;
}

nav#header-nav a.navbar-brand {
    color: white;
}

#collapsable-nav {
    width: 100%;
    background-color: goldenrod;
}
#collapsable-nav a {
    color: black;
    text-align: center;
}