nav#header-nav {
    background-color: darkred;
    color: white;
}

nav#header-nav a.navbar-brand {
    color: white;
}

#collapsable-nav {
    width: 100%;
}
#collapsable-nav a {
    color: black;
    text-align: center;
}

.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
    background-color: goldenrod;
}

h1, h2 {
    text-align: center;
}

.menu-item {
    margin: 15px;
    padding: 15px 40px 15px 40px;
    background-color: plum;
}

.menu-desc {
    font-size: 1.2em;
}