nav#header-nav {
    background-color: darkred;
    color: white;
}

nav#header-nav a.navbar-brand {
    color: white;
}

#collapsable-nav {
    width: 100%;
}
#collapsable-nav a {
    color: black;
    text-align: center;
}

.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
    background-color: goldenrod;
}